<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.onlineshop.dao.persistence.PaymentMethodsRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into paymentmethods(user_id, card_number, expiration_date, cvv)
        values (#{user_Id}, #{card_Number}, #{expiration_Date}, #{cvv})
    </insert>

    <select id="findById">
        SELECT * FROM paymentmethods WHERE id = #{id}
    </select>

    <delete id="deleteById">
        Delete from paymentmethods were id = #{id}
    </delete>


</mapper>